@charset "utf-8";
/*colocando fonte de fora*/
/*Formatações em CSS3*/
/*formatação de corpo do site*/
body{
	font-family: Arial, sans-serif;
	background-color: #dddddd;
	color: rgba(0,0,0,1);
}


/*formatação da interface */
div#interface{
	width: 1150px;
	background-color: white;
	margin: -30px/*<-cima*/ auto/*<-direita*/ 0px/*<-baixo*/ auto;/*<-esquerda*/
	box-shadow: 0px/*<- deslocamento lateral*/ 0px/*<-deslocamento vertical*/ 10px/*espalhamento*/ rgba(0,0,0,0.5);
	padding: 10px;
}

/*formatação de paragrafo*/
p{
	text-align: justify;
	text-indent: 50px;
}

a{
	color: #606060;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*formatação da imagem oculos preto pequeno*/
header#cabecalho img#icone{
	position: absolute;
	left: 1100px;
	top: 70px;
}

/*formatação dos titulos de cabeçalho*/
header#cabecalho h1{
	font-family: 'Bubblegum Sans', cursive;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	padding:0;
	margin-bottom: 0px;
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding:0;
	margin-top: 0px;
}

/*formatação do cabeçalho*/
header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 150px;
}

/*formatação da logo*/
img#logo{
	position: absolute;
	top: 110px;
	left: 100px;
}

/*formatação de legenda de imagem */
figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,0.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	transition: opacity 1s;
}

figure.foto-legenda:hover figcaption{
	opacity: 1;
}

/*formatação do menu*/

nav#menu{
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -20px;
	left: 638px;
}

nav#menu li{
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	transition: background-color 1s;
}

nav#menu li:hover{
	background-color: #606060
}

nav#menu h1{
	display: none;
}

nav#menu a {
	color: black;
	text-decoration: none;
}

nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

/*formatação das tags section, aside, footer*/
section#corpo{
	display: block;
	width: 600px;
	float: left;
	border-right: 1px #606060 solid;
	padding-right: 25px;
}

/*formatação da tabela de especificações*/
table#tabela{
	border: 1px #606060 solid;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}


table#tabela td {
	border: 1px #606060 solid;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabela td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
	text-align: right;
}

table#tabela td.cd {
	background-color: #cecece;
	text-align: left;
}

table#tabela caption {
	color: #888888;
	font-size:13pt;
	font-weight: bolder;
}

table#tabela caption span {
	display: block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}


/*continuação da formatação das tags section, aside, footer*/
aside#lateral{
	display: block;
	width: 490px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

aside#lateral h1{
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

aside#lateral h2{
	font-size: 12pt;
	background-color: #606060; 
	color: #ffffff;
	padding: 5px;
}

footer#rodape{
	clear: both;
	border-top: 1px #606060 solid;
}

footer#rodape p{
	text-align: center;
	margin-bottom:0px;
}

/*formatação de article*/
article#np h2{
	font-size: 12pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

/*formatação do cabecalho de artigo*/
header#cabecalho-ar h1{
	font-family: 'Bubblegum Sans', cursive;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

.direita {
	text-align: right;
}

header#cabecalho-ar h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff; 
	margin: 0px;
}

header#cabecalho-ar h3{
	font-size: 12px;
	color: #606060;
}
